{% extends '::admin.html.twig' %}

{% block workZone %}
	<h2>Instalaciones</h2>

	{% if products is empty %}
		<div class="alert alert-danger text-center">
	    	<h4>¡No tienes instalaciones registradas!</h4>

	    	<p><a class="alertAnchor" href="{{ path('new_reservable_activity') }}">Registar aquí alguna instalación</a></p>
	    </div>
	{% else %}
		{{  dump(products)  }}
	{% endif %}
{% endblock %}