{% extends '::base.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="col-md-3 column adminBar">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h3>Menú superusuario</h3>
                <ul class="adminList">
                    <li><a href="#">Gestionar usuarios</a></li>
                </ul>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <h3>Menú propietario</h3>
                <ul class="adminList">
                    <li><a href="{{ path('ViewActivities') }}">Mis instalaciones</a></li>
                    <li><a href="">Mis reservas</a></li>
                </ul>
            {% endif %}   
            {% if is_granted('ROLE_USER') %}
                <h3>Menú usuario</h3>
                <ul class="adminList">
                    <li><a href="#">Fútbol</a></li>
                    <li><a href="#">Tenis</a></li>
                    <li><a href="#">Piscina</a></li>
                </ul>
           {% endif %}
        </div>
        <div class="col-md-9 column workZone">
            {% block workZone %}{% endblock %}
        </div>
    {% else %}
        <div class="col-md-8 column loginRegisterDiv">
            <div id="mainSearcher">
                <div id="tabs-container" class="block-tabs  widget-block-tabmain ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-toggle="tab">Buscar</a>
                        </li>
                    </ul>
                    <div class="menuContent">
                        Buscador
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div id="loginRegisterDiv">
                <div id="tabs-container" class="block-tabs  widget-block-tabmain ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">Entrar</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Registrar</a>
                        </li>
                    </ul>
                    <div class="menuContent">
                        <div class="login">
                            {% render url('fos_user_security_login') %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 column carruselContent">
                Carrusel con actividades
            </div>
        </div>
    {% endif %}
{% endblock %}