{% block content %}
	{% block fos_user_content %}
	{% if error %}
	    <div>{{ error|trans }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label style="align:left;" for="username">Usuario</label><br/>
	    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>

	    <br/>

	    <label style="align:left;" for="password">Contraseña</label><br/>
	    <input class="form-control" type="password" id="password" name="_password" required="required" />

	    <br/>

	    <input style="margin-top: 10px;" type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">Recordar</label>
	    &nbsp;

	    <button style="float:right;margin-top: 10px;" value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-inbox"></i>&nbsp;Entrar</button>

	</form>
	{% endblock fos_user_content %}
{% endblock %}