{% extends '::admin.html.twig' %}

{% block workZone %}
	<h2>Nueva instalación</h2>
	<div class="alert alert-success text-center">
		<h4>¡La actividad ha sido registrada con exito!</h4>

		<p><a class="alertAnchor" href="{{ path('ViewActivities') }}">Ver todas las instalaciones</a></p>
    </div>
{% endblock %}